@scope (.anime-details) {
	:scope {
		padding: calc(var(--spacing) * 4);
		padding-block-end: calc(var(--spacing) * 6);
		background-color: var(--color-white);
		border-radius: var(--radius-2xl);
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	dl {
		display: grid;
		gap: calc(var(--spacing) * 3);
		grid-template-columns: max-content 1fr;
	}

	dt {
		text-align: left;
		color: var(--color-gray-600);
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
		font-weight: var(--font-weight-medium);
	}

	dl {
		text-align: right;
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
		font-weight: var(--font-weight-medium);

		svg {
			display: inline;
			vertical-align: text-top;
			fill: var(--color-yellow-500);
			color: var(--color-yellow-500);
		}
	}
}
