@scope (.header) {
	:scope {
		position: sticky;
		inset-block-start: 0;
		z-index: 10;
		box-shadow: var(--drop-shadow-sm);
	}

	:scope:where([data-variant="default"]) {
		color: var(--color-gray-900);
		background-color: var(--color-white);
		border-bottom: 1px solid var(--color-gray-200);

		.title > svg {
			stroke: var(--color-purple-600);
		}
	}

	:scope:where([data-variant="winter"]) {
		color: var(--color-white);
		background: linear-gradient(
			to right in oklab,
			var(--winter-gradient-stops)
		);
	}

	:scope:where([data-variant="spring"]) {
		color: var(--color-white);
		background: linear-gradient(
			to right in oklab,
			var(--spring-gradient-stops)
		);
	}

	:scope:where([data-variant="summer"]) {
		color: var(--color-white);
		background: linear-gradient(
			to right in oklab,
			var(--summer-gradient-stops)
		);
	}

	:scope:where([data-variant="fall"]) {
		color: var(--color-white);
		background: linear-gradient(
			to right in oklab,
			var(--fall-gradient-stops)
		);
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: calc(var(--spacing) * 4);
		max-width: var(--container-6xl);
		margin-inline: auto;
		padding-inline: calc(var(--spacing) * 6);
		padding-block: calc(var(--spacing) * 4);
	}

	.heading:has(.subtitle) > .title {
		margin-block-end: calc(var(--spacing) * 1);
	}

	.title {
		display: flex;
		align-items: center;
		gap: calc(var(--spacing) * 2);
	}

	h1 {
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
		font-weight: var(--font-weight-medium);
	}
}

@scope (.back-link) {
	:scope {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: calc(var(--spacing) * 3);
		height: calc(var(--spacing) * 8);
		font-size: var(--text-sm);
		line-height: var(--leading-tight);
		font-weight: var(--font-weight-medium);
		padding-inline: calc(var(--spacing) * 2.5);
		border-radius: var(--radius-lg);
		text-decoration: none;
	}

	:scope:where([data-variant="default"]) {
		color: var(--color-gray-600);

		&:hover {
			@media (hover: hover) {
				color: var(--color-gray-900);
				background-color: var(--color-gray-200);
			}
		}
	}

	:scope:where([data-variant="negative"]) {
		color: var(--color-white);

		&:hover {
			@media (hover: hover) {
				color: var(--color-gray-900);
				background-color: color-mix(
					in oklab,
					var(--color-white) 20%,
					transparent
				);
			}
		}
	}
}
